@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  min-width: 320px;
}

body {
  font-family: "Geist", sans-serif;
  margin: 0;
  padding-top: env(safe-area-inset-top);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  min-height: 100vh;
  overflow: hidden; /* 基本はスクロールなし */
}

/* メインコンテンツ */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
  padding-bottom: 60px;
  overflow-y: auto; /* コンテンツが多いときだけスクロール可能 */
}

/* スマホ表示 */
@media (max-width: 640px) {
  main {
    padding-top: 1rem;
  }
}
