/* dateTimePicker.css */

/* カレンダーとタイムピッカーを横並びにする */
.react-datepicker {
  display: flex !important;
}

/* カレンダーの幅を調整 */
.react-datepicker__month-container {
  width: auto;
}

/* 時間リストの表示を調整 */
.react-datepicker__time-list {
  max-height: 120px; /* 4つ分の高さに合わせる（時間は1項目あたり約40px程度） */
  overflow-y: auto; /* スクロールを有効にする */
}

/* タイムピッカーを右側に配置 */
.react-datepicker__time-container {
  width: 85px !important;
  position: relative !important;
  right: 0 !important;
}

.react-datepicker__time {
  position: absolute;
  right: 0;
  background: white;
}

/* カレンダー外枠 */
.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block !important;
}

/* ヘッダー部分 */
.react-datepicker__header {
  background-color: #fff !important;
  border-color: #fff !important;
}

/* 日付のホバー時 */
.react-datepicker__day:hover {
  background: #ff8761 !important;
  color: #fafafa !important;
}

/* 曜日 */
.react-datepicker__day-name {
  color: #ff5722 !important;

  /* 過ぎた日を灰色に */
  .react-datepicker__day.past-day {
    color: #6b7280 !important; /* 文字色を灰色に */
  }
}

/* 日曜日の赤色 */
.react-datepicker__day.sunday-day {
  color: #f87171; /* 赤色 */
}

/* 土曜日の青色 */
.react-datepicker__day.saturday-day {
  color: #3b82f6; /* 青色 */
}

/* 今日の日付 */
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem !important;
  background-color: #fff !important;
}

/* 選択された日付 */
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background: #ff5722 !important;
  font-weight: normal !important;
  color: #fafafa !important;
}

/* 選択中の日付 */
.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__month-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__quarter-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__year-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: #ff5722 !important;
}

/* 時間リストのアイテムホバー時の色 */
.react-datepicker__time-list-item:hover {
  background-color: #ff8761 !important; /* ホバー時の色 */
  color: #fafafa !important; /* ホバー時の文字色 */
}

/* スクロールバーの全体 */
.react-datepicker__time-list::-webkit-scrollbar {
  width: 8px; /* スクロールバーの幅 */
}

/* スクロールバーのトラック（背景部分） */
.react-datepicker__time-list::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* トラックの色（背景） */
}

/* スクロールバーのハンドル（動かせる部分） */
.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background-color: #ff5722; /* スクロールバーの色 */
  border-radius: 4px; /* 丸みをつける */
}

/* スクロールバーのハンドルをホバーした時の色 */
.react-datepicker__time-list::-webkit-scrollbar-thumb:hover {
  background-color: #ff8761; /* ホバー時の色 */
}
